body {
	font-family: Helvetica;
	text-align: center;
	font-size: 45px;
	text-align: center;
	background: #193549;
	font-weight: 100;
}

:root {
	--pickedColour: #7f3c99;
	--pointerSize: 25;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 76%;
	background: rosybrown;
	margin: 15px;
	align-items: center;
	justify-content: center;
}

.column {
	display: flex;
	flex-direction: column;
	flex-basis: 80%;
	flex: 1;
	background: aquamarine;
	margin: 15px;
}
