body {
	font-family: Helvetica;
	text-align: center;
	font-size: 45px;
	text-align: center;
	font-weight: 100;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 76%;
	background: rosybrown;
	margin: 45px;
	align-items: center;
	justify-content: center;
}

.column {
	display: flex;
	flex-direction: column;
	flex-basis: 80%;
	flex: 1;
	background: aquamarine;
	margin: 15px;
}

.controls {
	justify-content: center;
	margin: 15px;
	align-items: center;
	padding: 25px;
}

#canvas {
	border: 1px solid #000000;
}
